.sobre{
    padding: 20px;
    height: 150px;
    background-color: antiquewhite;
    margin: 0 auto;
}
.sobre h3{
    margin: 20px 50px;
    font-family:'Tahoma';
}
.sobre p{
    font-size: 20px;
    font-style: italic;
    width: 750px;
    margin-left: 50px;
}